body {
  margin: 0;
}

* {
  box-sizing: border-box;
  /*padding: 1rem;
  border: 0.5rem pink solid;
  margin: 0.5rem;*/
}

ul {
  padding-left: 0;
  list-style: none;
}

.hero__nav-container {
  max-width: 65rem;
  margin: 0 auto;
}

.hero {
  padding: 1rem 2rem;
  background: url('images/water.jpeg') no-repeat center center fixed;
  background-size: cover;

  font-family: 'Raleway', sans-serif;
}

.top-nav {
  position: relative;
  bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  color: #000000;
}

.top-nav p {
  font-size: 1rem;
}

.top-nav a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.top-nav img {
  border-radius: 50%;
  height: 2em;
  vertical-align: middle;
}

.top-nav__logo {
  margin: 0;
}

.top-nav__links {
  display: flex;
  margin: 0 -0.5rem;
}

.top-nav__item {
  margin: 0 0.5rem;
}

.hero__title-container {
  margin: 4rem auto;
}

.titles {
  text-align: center;
  color: #e3e3e3;
}

.hero__title {
  font-size: 5rem;
}

.hero__subtitle {
  position: relative;
  bottom: 4.5rem;
  right: 1rem;

  color: #000000;
  font-weight: bold;
}
