body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
  /*padding: 1rem;
  border: 0.5rem pink solid;
  margin: 0.5rem;*/
}

ul {
  padding-left: 0;
  list-style: none;
}

.hero__nav-container {
  max-width: 65rem;
  margin: 0 auto;
}

.hero {
  padding: 1rem 2rem;
  background: url('images/water.jpeg') no-repeat center center fixed;
  background-size: cover;
}

.top-nav {
  position: relative;
  bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  color: #212121;
}

.top-nav p {
  font-size: 1rem;
  text-transform: uppercase;
}

.top-nav a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.top-nav img {
  border-radius: 50%;
  height: 2em;
  vertical-align: middle;
}

.top-nav__logo {
  margin: 0;
}

.top-nav__links {
  display: flex;
  margin: 0 -0.5rem;
  padding-right: 0.5rem;
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
}

.top-nav__item {
  margin: 0 0.5rem;
}

.top-nav__item:hover{
  color: white;
}

.fa-search {
  position: relative;
  left: 0.2rem;
  bottom: 0.2rem;
}

.hero__title-container {
  margin: 4rem auto;
}

.titles {
  text-align: center;
  color: #e3e3e3;
}

.hero__title {
  font-size: 5rem;
  text-transform: uppercase;
}

.hero__subtitle {
  position: relative;
  bottom: 4.5rem;
  left: 3rem;

  color: #212121;
  font-weight: bold;
  font-size: 1rem;
}

.main__container {
  max-width: 50rem;
  min-width: 30rem;
  margin: 4rem auto 0;
}

.main__content {
  position: relative;
  bottom: 2rem;
  display: flex;
  justify-content: flex-start;
}

.left-article {
  position: relative;
  bottom: 3rem;
  margin-right: 1.5rem;
}

.article-info {
  /*position: relative;
  bottom: 3rem;*/
}

.article-heading {
  color: #073573;
  font-family: "Fjalla One", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
}

.quote {
  color: #517ee3;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  border-left: 1px solid #bdbdbd;
  padding: 0.75rem 0.5rem;
  margin: 0 0.3rem;
}

.author-info img {
  border-radius: 50%;
  height: 1.5rem;
  vertical-align: middle;
}

.author-info p {
  margin-left: 0.2rem;
  color: #517ee3;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}

.post-info {
  display: flex;
  justify-content: flex-start;
  position: relative;
  bottom: 3.5rem;
}

.publish-date {
  display: flex;
  position: relative;
  top: 0.2rem;
  color: #bdbdbd;
  margin-left: 0.3rem;
  font-size: 0.8rem;
}

.date {
  margin-left: 0.2rem;
  text-decoration: underline;
}

.main-article {
  position: relative;
  bottom: 3.5rem;
}

.main-text__link-grey {
  color: #bdbdbd;
}

.main-text__link-blue {
  color: #0277bd;
}

.btn {
  display: flex;
  justify-content: space-between;
  width: 25rem;
  position: relative;
  bottom: 3rem;
}

.btn-1 {
  width: 7.5rem;
  font-size: 0.7rem;
  padding: 0.2rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background-color: #e0e0e0;
  border: none;
}

.fa-comment {
  color: white;
  background-color:#424242;
  margin-right: 0.2rem;
  padding: 0.2rem;
}

.btn-1 p {
  margin: 0;
}

.btn-2 {
  width: 7.5rem;
  font-size: 0.7rem;
  padding: 0.2rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background-color: #e0e0e0;
  border: none;
}

.fa-cloud-upload {
  color: white;
  background-color:#424242;
  margin-right: 0.2rem;
  padding: 0.2rem;
}

.btn-2 p {
  margin: 0;
}

.btn-3 {
  width: 7.5rem;
  font-size: 0.7rem;
  padding: 0.2rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background-color: #2196f3;
  border: none;
}

.fa-share-square-o {
  color: white;
  background-color: #111852;
  margin-right: 0.2rem;
  padding: 0.2rem;
}

.btn-3 p {
  margin: 0;
}


.author-profile img {
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 50%;
  height: 3.5rem;
}

.author-name {
  color: #517ee3;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 1rem;
  width: 8rem;
  margin: 1rem auto;
}

.socials__item a {
  font-size: 0.6rem;
  color: #bdbdbd;
  text-decoration: none;
}

.ad-photo {
  max-width: 100%;
}

.ad-link {
  display: flex;
  justify-content: flex-end;
  font-size: 0.6rem;
  color: #bdbdbd;
}

.article-2 {
  margin-top: 2rem;
}

.article-2-heading {
    color: #517ee3;
    font-family: "Fjalla One", sans-serif;
    text-transform: uppercase;
}

.article-2-text {
    color: #bdbdbd;
    font-size: 0.8rem;
    position: relative;
    bottom: 0.5rem;
}
